.header {
  padding: 0.7rem 7rem;
  border-bottom: 1px solid rgba($tertiary, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
.active {
  background: rgba($tertiary, 0.97);
  a {
    color: #151111;
  }
  border: none;
}
.logo {
  font-family: $font-cursive;
  font-size: 2.5rem;
  font-weight: bolder;
}
.nav-menu {
  a {
    text-transform: uppercase;
    margin: 0 2rem;
    letter-spacing: 2px;
  }
  & a:hover {
    color: $secondary;
  }
}
.hero {
  height: 100vh;
  margin-top: -2rem;
  background: linear-gradient(rgba(black, 0.75)),
    url(/assets/media/hero.jpg) no-repeat center center;
  background-size: cover;
  p {
    width: 60%;
    font-size: 1.2rem;
    margin: 2rem auto 0 auto;
  }
}

.about {
  img {
    height: 40rem;
    object-fit: cover;
  }
}
.about-text {
  width: 85%;
  background: rgba($primary, 0.9);
  padding: 3rem;
  margin-left: -5.5rem;
  a {
    color: $secondary;
    font-size: 1.2rem;
    margin-top: 1rem;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.features {
  background: $secondary;
  color: $primary;
  strong {
    font-size: 1.3rem;
    text-transform: uppercase;
    display: block;
    margin: 1.5rem 0;
  }
  img {
    border: 1px solid;
    padding: 1rem;
  }
  figure {
    height: 100%;
  }
}

.menu-text {
  text-align: right;
  margin-right: 2rem;
  .btn {
    margin-top: 2rem;
  }
}
.menu-img {
  figure {
    height: 15.6rem;
    margin-bottom: 1.5rem;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}
.testimony {
  background: linear-gradient(rgba($primary, 0.8)),
    url(./assets/media/hero_02.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 0;
}
.testimony-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin-top: 8rem;
  article:nth-child(2n + 1) {
    background-color: $secondary;
  }
  article:nth-child(2n) {
    background-color: #b68b4f;
  }
  article {
    padding: 2rem;
    justify-content: flex-end;
    transition: transform 300ms ease-in-out;
    &:hover {
      transform: scale(1.04);
      box-shadow: 0 0 8px 2px rgba($primary, 0.5);
    }
  }

  img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}
blockquote {
  font-style: italic;
  margin-bottom: 2rem;
  line-height: 1.8;
}
.footer {
  padding: 4rem 0;
  strong {
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1rem;
  }
  li {
    line-height: 2.5;
    i {
      margin-right: 1rem;
    }
  }
  a:hover {
    color: $secondary;
    transform: scale(1.1);
  }
}
.social-media-icons {
  a {
    margin-right: 1rem;
  }
}
